In [2]:
from datetime import datetime, timezone
datetime.now(timezone.utc).strftime('%Y-%m-%dT%H:%M:%SZ')

'2024-03-24T23:41:30Z'

In [3]:
help(datetime.now)

Help on built-in function now:

now(tz=None) method of builtins.type instance
    Returns new datetime object representing current time local to tz.

      tz
        Timezone object.

    If no tz is specified, uses local timezone.

# `string_to_list_at_newline`

In [15]:
string = """
IF kStatus = 38, true
IF kStatus = 22 true
IF kStatus = 23, true
IF kStatus = 24, true
IF kStatus = 41, true
IF kStatus = 42, true
IF kStatus = 39, true
If kStatus = 26 true
If kStatus = 27, true
If kStatus = 28, true
If kStatus = 43, true
If kStatus = 44, true
If kStatus = 46, true
If kStatus = 48, true
If kStatus = 50, true
"""

def string_to_list_at_newline(string):
    return string.strip().split('\n')

string_to_list_at_newline(string)

['IF kStatus = 38, true',
 'IF kStatus = 22 true',
 'IF kStatus = 23, true',
 'IF kStatus = 24, true',
 'IF kStatus = 41, true',
 'IF kStatus = 42, true',
 'IF kStatus = 39, true',
 'If kStatus = 26 true',
 'If kStatus = 27, true',
 'If kStatus = 28, true',
 'If kStatus = 43, true',
 'If kStatus = 44, true',
 'If kStatus = 46, true',
 'If kStatus = 48, true',
 'If kStatus = 50, true']

# `extract_regex_from_list`

In [19]:
import re
def extract_regex_from_list(list):
    result = []
    for item in list:
        result.append(re.search(r'\d+', item).group(0))
    return result

extract_regex_from_list(string_to_list_at_newline(string))

['38',
 '22',
 '23',
 '24',
 '41',
 '42',
 '39',
 '26',
 '27',
 '28',
 '43',
 '44',
 '46',
 '48',
 '50']

# ** `newline_at_commas_string`

In [4]:
import re
from datetime import datetime
def newline_at_commas_string(string, line_start='Exercise #', line_end=' published', append_date=True):
    line_end = line_end if line_end else ''
    string = re.sub(r"\s+", "", f'{string},')
    string = re.sub(r",", "\n", string.strip())
    if line_start:
        string = re.sub(r'(.*)\n', fr'{line_start}\1\n', string)
    if append_date:
        line_end = f'{line_end} {datetime.now().date().strftime("%Y-%m-%d")}'
    string = re.sub(r'(.*)\n', fr'\1{line_end}\n', string)

    return string

string = """
'bq11n1',
'bq11n2',
'bqn11n2',
'bq11o1',
'bq11p'
"""

print(newline_at_commas_string(string, append_date=1))
print(newline_at_commas_string(string, append_date=0, line_start='', line_end=": '0lFHs000000tPGRMA2'"))

Exercise #'bq11n1' published 2024-03-24
Exercise #'bq11n2' published 2024-03-24
Exercise #'bqn11n2' published 2024-03-24
Exercise #'bq11o1' published 2024-03-24
Exercise #'bq11p' published 2024-03-24

'bq11n1': '0lFHs000000tPGRMA2'
'bq11n2': '0lFHs000000tPGRMA2'
'bqn11n2': '0lFHs000000tPGRMA2'
'bq11o1': '0lFHs000000tPGRMA2'
'bq11p': '0lFHs000000tPGRMA2'

In [5]:


string = """
1045
"""

print(newline_at_commas_string(string, line_end=' Equipment jumps between reps in thumbnail animation', append_date=False))
# print(newline_at_commas_string(string, line_start='', line_end='', append_date=False))

Exercise #1045 Equipment jumps between reps in thumbnail animation

# `replace_whitespace_with_commas`

In [6]:
import re

def replace_whitespace_with_commas(string):
    result = re.sub(r"\s+", ", ", string.strip())
    return result

def string_to_list(string, convert_to_int=True):
    result = replace_whitespace_with_commas(string).split(', ')
    if convert_to_int:
        result = [int(i) for i in result]
    print(f'Length of list: {len(result)}')
    return sorted(result)

string = """
Major Heading	Activity Code	MET Value	Activity Description	Simplified Name
"""
print(replace_whitespace_with_commas(string))

Major, Heading, Activity, Code, MET, Value, Activity, Description, Simplified, Name

In [7]:
string_to_list(string, convert_to_int=0)

Length of list: 10

['Activity',
 'Activity',
 'Code',
 'Description',
 'Heading',
 'MET',
 'Major',
 'Name',
 'Simplified',
 'Value']

# `replace_newline` for copying to Slack

In [13]:
import re

def replace_newline(string, replacement="\n"):
    result = re.sub(r"\n+", replacement, string.strip())
    return result
string = """
IF kStatus = 38, true
IF kStatus = 22 true
IF kStatus = 23, true
IF kStatus = 24, true
IF kStatus = 41, true
IF kStatus = 42, true
IF kStatus = 39, true
If kStatus = 26 true
If kStatus = 27, true
If kStatus = 28, true
If kStatus = 43, true
If kStatus = 44, true
If kStatus = 46, true
If kStatus = 48, true
If kStatus = 50, true
"""
print(replace_newline(string))

IF kStatus = 38, true
IF kStatus = 22 true
IF kStatus = 23, true
IF kStatus = 24, true
IF kStatus = 41, true
IF kStatus = 42, true
IF kStatus = 39, true
If kStatus = 26 true
If kStatus = 27, true
If kStatus = 28, true
If kStatus = 43, true
If kStatus = 44, true
If kStatus = 46, true
If kStatus = 48, true
If kStatus = 50, true

# `newline_at_commas`

In [9]:
import re
def newline_at_commas(string):
    string = re.sub(r"\s+", "", string)
    return re.sub(r",", ",\n", string.strip())

string = """
'bq11n1', 'bq11n2',
       'bqn11n2', 'bq11o1', 'bq11p'
"""

print(newline_at_commas(string))

'bq11n1',
'bq11n2',
'bqn11n2',
'bq11o1',
'bq11p'

# string_list_to_list_of_strings

In [10]:
def string_list_to_list_of_strings(string_list, sep=','):
    """
    Convert a string of items separated by comma to a list of strings.
    """
    result = string_list.strip().split(sep)
    result = [item.strip() for item in result]
    return result

string = """
Major Heading, Activity Code, MET Value, Activity Description, Simplified Name
"""

string_list_to_list_of_strings(string)

['Major Heading',
 'Activity Code',
 'MET Value',
 'Activity Description',
 'Simplified Name']

# ** lines_to_list_of_strings

In [12]:
def lines_to_list_of_strings(string):
    processed_string = replace_whitespace_with_commas(string)
    processed_string = newline_at_commas(processed_string)
    processed_string = string_list_to_list_of_strings(processed_string)
    print(f'Number of elements: {len(processed_string)}')
    return processed_string

string = """

"""
# print(string)
processed_string = lines_to_list_of_strings(string)
processed_string
# print([item for item in processed_string])

Number of elements: 1

['']

# `text_to_markdown_table`

In [7]:
table_string = """
measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00
"""
print(table_string)

measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00

In [8]:
def text_to_markdown_table(table_string):
    lines = table_string.strip().split("\n")
    header = lines[0].split("\t")
    rows = [line.split("\t") for line in lines[1:]]
    return "\n".join([
        "| " + " | ".join(header) + " |",
        "| " + " | ".join(["---"] * len(header)) + " |",
        "\n".join([
            "| " + " | ".join(row) + " |"
            for row in rows
        ])
    ])

print(text_to_markdown_table(table_string))

| measure | profits | profits_change | revenues_change |
| --- | --- | --- | --- |
| profits | 1.00 | 0.02 | 0.02 |
| profits_change | 0.02 | 1.00 | -0.09 |
| revenues_change | 0.02 | -0.09 | 1.00 |

In [9]:
help(text_to_markdown_table)

Help on function text_to_markdown_table in module __main__:

text_to_markdown_table(table_string)

# `replace_tab_with_comma` and `string_to_sql_string`

In [1]:
import re
def replace_tab_with_comma(string):
    """
    Replace tabs with commas in a string.
    """
    result = re.sub(r"\t+", ", ", string.strip())
    return result



def string_to_sql_string(string, table_name=None, quotes=False):
    """
    Convert a string of items separated by tab to a SQL string with items separated by commas.

    Parameters
    ----------
    string : str
        The string to convert.
    table_name : str, optional
        The name of the table. Default is None.
    quotes : bool, optional
        Whether to add quotes around the items. Default is True.

    Returns
    -------
    str : SQL string with items separated by commas.
    """
    result = replace_tab_with_comma(string).split(', ')
    print(f'Number of items: {len(result)}')
    if quotes:
        result = [f'\"{item}\"' for item in result]
    if table_name:
        result = [f'{table_name}.{item}' for item in result]
    result = ', '.join(result)
    return result

string = """
Repetitions per Set	Time (sec)	Held for time (y)	Pause btwn reps
"""
print(string_to_sql_string(string, table_name='ex', quotes=1))

Number of items: 4
ex."Repetitions per Set", ex."Time (sec)", ex."Held for time (y)", ex."Pause btwn reps"

# Timestamp

In [1]:

from datetime import datetime, timezone
datetime.now(timezone.utc).strftime('%Y-%m-%d %H:%M:%S')

'2023-10-28 19:00:27'

# Remove new line character (DataCamp slides)

In [3]:
text = """
SELECT date,
amount,
lag(amount) OVER (ORDER BY date),
amount - lag(amount) OVER (ORDER BY date) AS change
FROM sales;
"""
def remove_newlines(string, replacement='', backticks=True):
    result = string.replace('\n', replacement)
    if backticks:
        result = f"`{result}`"
    return result

remove_newlines(text, backticks=False)

'SELECT date,amount,lag(amount) OVER (ORDER BY date),amount - lag(amount) OVER (ORDER BY date) AS changeFROM sales;'

In [12]:
text = """
- AI ethics. 
   - One option is to send email or text message for contact to opt in that messages may be from a bot. People are still weary of AI.
   - What is their current opt-in contract?
- Roadmap
   - Discuss
   - Share
- How to remove users from chatbot workflow.
- Is there a need to create an appointment reminder outside of current system?
- Average hourly rate for salaried software developer in Vancouver is $45/hour. On low end, $35/hour. https://www.glassdoor.ca/Salaries/software-developer-salary-SRCH_IM972_KO0,18.htm
- I estimate 10-15 hours/week
- Implementation costs: Bill based on usage or increase my hourly rate.
   - AWS
   - Open AI
"""
def double_newlines(text):
    result = text.replace('\n', '\n\n')
    return result
print(double_newlines(text))

- AI ethics.

   - One option is to send email or text message for contact to opt in that messages may be from a bot. People are still weary of AI.

   - What is their current opt-in contract?

- Roadmap

   - Discuss

   - Share

- How to remove users from chatbot workflow.

- Is there a need to create an appointment reminder outside of current system?

- Average hourly rate for salaried software developer in Vancouver is $45/hour. On low end, $35/hour. https://www.glassdoor.ca/Salaries/software-developer-salary-SRCH_IM972_KO0,18.htm

- I estimate 10-15 hours/week

- Implementation costs: Bill based on usage or increase my hourly rate.

   - AWS

   - Open AI

# Space between numbers and letters (exercise IDs and name)

In [65]:
import re

string = """
1549Wall March (March With Balance Support)
664Forward And Backward Jump - Continuous For Time
531Bound - Lateral, Continuous For Time
821Lateral Jump, Alternating - Continuous For Time
823Lateral Jump, Unilateral - Continuous For Time
1041Reverse Lunge With Two Arm Kettlebell Hang Clean, Unilateral - Timed
983Rear Foot Elevated Split Squat Jump - Continuous For Time
1039Reverse Lunge With Two Arm Kettlebell Hang Clean, Alternating - Timed
1299Split Squat Jump - Continuous For Time
786Jump Rope - Single Leg
1340Staggered Stance Hinge To Hop With High Knee - Continuous For Timeexplosive lunge/single leg
737High Knee Run With Lateral Translation
736High Knee Run On The Spot
1264Skip - Marching
543Butt Kick (Jog)
105Jogging On The Spot
431 360 Degree Squat Jump - Continuous For Time
425 180 Degree Jump Squat - Continuous For Time
436 90 Degree Squat Jump - Continuous For Time
1319Squat Jump - Goblet - Continuous For Time
1321Squat Jump - Med Ball Hug - Continuous For Time
2146Squat Jump - Goblet - Continuous For Time, Kettlebell
1315Squat Jump - Forward And Backward, Continuous For Time
1307Squat - Jump - Continuous For Time
1324Squat Jump - Mini Band - Continuous For Time
785Jump Rope
1488Tall Plank Jump For Time
640Fast Feet In And Out In Partial Squat
641Fast Feet In Partial Squat With Balance Support
1348Staggered Stance Jump
"""

def add_whitespace_around_numbers(string):
    result = re.sub(r'(\d+)', r'\1 ', string)
    regex = r'\n(\d+ [a-zA-Z,])(\d+[a-zA-Z,]+)'
    print(re.search(regex, result))
    
    result = re.sub(r'\n', r'\n- ', result)
    return result

print(add_whitespace_around_numbers(string))

None

- 1549 Wall March (March With Balance Support)
- 664 Forward And Backward Jump - Continuous For Time
- 531 Bound - Lateral, Continuous For Time
- 821 Lateral Jump, Alternating - Continuous For Time
- 823 Lateral Jump, Unilateral - Continuous For Time
- 1041 Reverse Lunge With Two Arm Kettlebell Hang Clean, Unilateral - Timed
- 983 Rear Foot Elevated Split Squat Jump - Continuous For Time
- 1039 Reverse Lunge With Two Arm Kettlebell Hang Clean, Alternating - Timed
- 1299 Split Squat Jump - Continuous For Time
- 786 Jump Rope - Single Leg
- 1340 Staggered Stance Hinge To Hop With High Knee - Continuous For Timeexplosive lunge/single leg
- 737 High Knee Run With Lateral Translation
- 736 High Knee Run On The Spot
- 1264 Skip - Marching
- 543 Butt Kick (Jog)
- 105 Jogging On The Spot
- 431  360  Degree Squat Jump - Continuous For Time
- 425  180  Degree Jump Squat - Continuous For Time
- 436  90  Degree Squat Jump - Continuous For Time
- 1319 Squat Jump - Goblet - Continuous For Time
- 1321 Squat Jump - Med Ball Hug - Continuous For Time
- 2146 Squat Jump - Goblet - Continuous For Time, Kettlebell
- 1315 Squat Jump - Forward And Backward, Continuous For Time
- 1307 Squat - Jump - Continuous For Time
- 1324 Squat Jump - Mini Band - Continuous For Time
- 785 Jump Rope
- 1488 Tall Plank Jump For Time
- 640 Fast Feet In And Out In Partial Squat
- 641 Fast Feet In Partial Squat With Balance Support
- 1348 Staggered Stance Jump
-

# *End of Page*