# `newline_at_commas_string`

In [2]:
import re
from datetime import datetime
def newline_at_commas_string(string, line_start='Exercise #', line_end=' republished', append_date=True):
    line_end = line_end if line_end else ''
    string = re.sub(r"\s+", "", f'{string},')
    string = re.sub(r",", "\n", string.strip())
    if line_start:
        string = re.sub(r'(.*)\n', fr'{line_start}\1\n', string)
    if append_date:
        line_end = f'{line_end} {datetime.now().date().strftime("%Y-%m-%d")}'
    string = re.sub(r'(.*)\n', fr'\1{line_end}\n', string)

    return string

string = """
860, 861, 862
"""

print(newline_at_commas_string(string, append_date=1))

Exercise #860 republished 2024-02-06
Exercise #861 republished 2024-02-06
Exercise #862 republished 2024-02-06

In [5]:


string = """
1045
"""

print(newline_at_commas_string(string, line_end=' Equipment jumps between reps in thumbnail animation', append_date=False))
# print(newline_at_commas_string(string, line_start='', line_end='', append_date=False))

Exercise #1045 Equipment jumps between reps in thumbnail animation

# `replace_whitespace_with_commas`

In [3]:
import re

def replace_whitespace_with_commas(string):
    result = re.sub(r"\s+", ", ", string.strip())
    return result

def string_to_list(string, convert_to_int=True):
    result = replace_whitespace_with_commas(string).split(', ')
    if convert_to_int:
        result = [int(i) for i in result]
    print(f'Length of list: {len(result)}')
    return sorted(result)

string = """
189
195
540
670
671
"""
print(replace_whitespace_with_commas(string))

189, 195, 540, 670, 671

In [14]:
string_to_list(string, convert_to_int=0)

Length of list: 13

['gpt-3.5-turbo',
 'gpt-3.5-turbo-0301',
 'gpt-3.5-turbo-0613',
 'gpt-3.5-turbo-1106',
 'gpt-3.5-turbo-16k',
 'gpt-3.5-turbo-16k-0613',
 'gpt-3.5-turbo-instruct',
 'gpt-3.5-turbo-instruct-0914',
 'gpt-4',
 'gpt-4-0314',
 'gpt-4-0613',
 'gpt-4-1106-preview',
 'gpt-4-vision-preview']

# `replace_newline` for copying to Slack

In [5]:
import re

def replace_newline(string, replacement="\n"):
    result = re.sub(r"\n+", replacement, string.strip())
    return result
string = """
exr_494 - https://youtu.be/IlF6LBvVJOY?si=GQ8EhywaNnq3Z1YU
exr_570 - https://youtu.be/prG9AN53PH4?si=btvHjlfhHu8e5gbI
exr_563 - Like what is shown here, but then lifting one knee to the chest once in the bridge position: https://youtu.be/1IzXrUrezjM
exr_1435 - https://drive.google.com/file/d/10B-LnnBICPo18zRgNfmVBVO9HJLzluhc/view?usp=sharing
exr_582 - https://youtu.be/_MW_vn7hk-0?si=tzlqtUBmFB0KZ0AU
exr_1051 - https://youtu.be/Zvl5JS3kGis?si=IYp_36rIJL0iu_-3
exr_1297 - https://youtu.be/-WCz01E38A0
exr_1262 - https://drive.google.com/file/d/1E83K7mFr6TUD7ODVUY0WjiLT3UqwrbsR/view?usp=drive_link
exr_2274 - https://drive.google.com/file/d/1GpbxrCMtg5fkCBMmU3XBwI7uXNx75EF0/view?usp=drive_link
exr_442 - https://youtu.be/OwBnwJ0IpT4?si=GDwM2pqp6BbZt5yB
exr_1492 - https://youtu.be/HPq0QkyXJ2c?si=BvHw3DoJUcRoYErL
exr_594 - https://youtu.be/-xltjgWrzdQ
exr_630 - https://youtube.com/shorts/V3ZHIvkgY9w
exr_716 - https://youtu.be/i7CQboKuizQ?si=yl3dg1y8OilyOgDy
exr_711 - https://youtu.be/B6bAgIz9uFw?si=yP4aSqNLCJOeSvsI
exr_90 - https://youtu.be/vhzc6g4Acq0?si=BTeUQcmR-nsKUM3D
"""
print(replace_newline(string))

exr_494 - https://youtu.be/IlF6LBvVJOY?si=GQ8EhywaNnq3Z1YU
exr_570 - https://youtu.be/prG9AN53PH4?si=btvHjlfhHu8e5gbI
exr_563 - Like what is shown here, but then lifting one knee to the chest once in the bridge position: https://youtu.be/1IzXrUrezjM
exr_1435 - https://drive.google.com/file/d/10B-LnnBICPo18zRgNfmVBVO9HJLzluhc/view?usp=sharing
exr_582 - https://youtu.be/_MW_vn7hk-0?si=tzlqtUBmFB0KZ0AU
exr_1051 - https://youtu.be/Zvl5JS3kGis?si=IYp_36rIJL0iu_-3
exr_1297 - https://youtu.be/-WCz01E38A0
exr_1262 - https://drive.google.com/file/d/1E83K7mFr6TUD7ODVUY0WjiLT3UqwrbsR/view?usp=drive_link
exr_2274 - https://drive.google.com/file/d/1GpbxrCMtg5fkCBMmU3XBwI7uXNx75EF0/view?usp=drive_link
exr_442 - https://youtu.be/OwBnwJ0IpT4?si=GDwM2pqp6BbZt5yB
exr_1492 - https://youtu.be/HPq0QkyXJ2c?si=BvHw3DoJUcRoYErL
exr_594 - https://youtu.be/-xltjgWrzdQ
exr_630 - https://youtube.com/shorts/V3ZHIvkgY9w
exr_716 - https://youtu.be/i7CQboKuizQ?si=yl3dg1y8OilyOgDy
exr_711 - https://youtu.be/B6bAgIz9uFw?si=yP4aSqNLCJOeSvsI
exr_90 - https://youtu.be/vhzc6g4Acq0?si=BTeUQcmR-nsKUM3D

# `newline_at_commas`

In [5]:
import re
def newline_at_commas(string):
    string = re.sub(r"\s+", "", string)
    return re.sub(r",", ",\n", string.strip())

string = """
'SessionId', 'dateAdded', 'business',
       'attachments', 'locationId', 'conversationId', 'contentType', 'body',
       'type', 'userId', 'dueDate', 'id', 'title', 'assignedTo'
"""

print(newline_at_commas(string))

'SessionId',
'dateAdded',
'business',
'attachments',
'locationId',
'conversationId',
'contentType',
'body',
'type',
'userId',
'dueDate',
'id',
'title',
'assignedTo'

# string_list_to_list_of_strings

In [20]:
def string_list_to_list_of_strings(string_list, sep=','):
    """
    Convert a string of items separated by comma to a list of strings.
    """
    result = string_list.strip().split(sep)
    result = [item.strip() for item in result]
    return result

string = """
Food & Dining,
Groceries,
Coffee Shops,
Credit Card Payment,
Electronics & Software,
Sports,
Restaurants,
Business Software,
Entertainment,
Pharmacy,
Home Improvement,
Books,
Clothing,
Education,
networking,
Mobile Phone,
Television,
Allied Health,
Gift,
Fast Food,
Alcohol & Bars,
Health & Fitness,
Doctor,
Newspapers & Magazines,
Personal Care,
Business Services,
Amusement,
Travel,
Utilities,
"""

string_list_to_list_of_strings(string)

['Food & Dining',
 'Groceries',
 'Coffee Shops',
 'Credit Card Payment',
 'Electronics & Software',
 'Sports',
 'Restaurants',
 'Business Software',
 'Entertainment',
 'Pharmacy',
 'Home Improvement',
 'Books',
 'Clothing',
 'Education',
 'networking',
 'Mobile Phone',
 'Television',
 'Allied Health',
 'Gift',
 'Fast Food',
 'Alcohol & Bars',
 'Health & Fitness',
 'Doctor',
 'Newspapers & Magazines',
 'Personal Care',
 'Business Services',
 'Amusement',
 'Travel',
 'Utilities',
 '']

# `text_to_markdown_table`

In [7]:
table_string = """
measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00
"""
print(table_string)

measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00

In [8]:
def text_to_markdown_table(table_string):
    lines = table_string.strip().split("\n")
    header = lines[0].split("\t")
    rows = [line.split("\t") for line in lines[1:]]
    return "\n".join([
        "| " + " | ".join(header) + " |",
        "| " + " | ".join(["---"] * len(header)) + " |",
        "\n".join([
            "| " + " | ".join(row) + " |"
            for row in rows
        ])
    ])

print(text_to_markdown_table(table_string))

| measure | profits | profits_change | revenues_change |
| --- | --- | --- | --- |
| profits | 1.00 | 0.02 | 0.02 |
| profits_change | 0.02 | 1.00 | -0.09 |
| revenues_change | 0.02 | -0.09 | 1.00 |

In [9]:
help(text_to_markdown_table)

Help on function text_to_markdown_table in module __main__:

text_to_markdown_table(table_string)

# `replace_tab_with_comma` and `string_to_sql_string`

In [1]:
import re
def replace_tab_with_comma(string):
    """
    Replace tabs with commas in a string.
    """
    result = re.sub(r"\t+", ", ", string.strip())
    return result



def string_to_sql_string(string, table_name=None, quotes=False):
    """
    Convert a string of items separated by tab to a SQL string with items separated by commas.

    Parameters
    ----------
    string : str
        The string to convert.
    table_name : str, optional
        The name of the table. Default is None.
    quotes : bool, optional
        Whether to add quotes around the items. Default is True.

    Returns
    -------
    str : SQL string with items separated by commas.
    """
    result = replace_tab_with_comma(string).split(', ')
    print(f'Number of items: {len(result)}')
    if quotes:
        result = [f'\"{item}\"' for item in result]
    if table_name:
        result = [f'{table_name}.{item}' for item in result]
    result = ', '.join(result)
    return result

string = """
Repetitions per Set	Time (sec)	Held for time (y)	Pause btwn reps
"""
print(string_to_sql_string(string, table_name='ex', quotes=1))

Number of items: 4
ex."Repetitions per Set", ex."Time (sec)", ex."Held for time (y)", ex."Pause btwn reps"

# Timestamp

In [1]:

from datetime import datetime, timezone
datetime.now(timezone.utc).strftime('%Y-%m-%d %H:%M:%S')

'2023-10-28 19:00:27'

# Remove new line character (DataCamp slides)

In [3]:
text = """
SELECT date,
amount,
lag(amount) OVER (ORDER BY date),
amount - lag(amount) OVER (ORDER BY date) AS change
FROM sales;
"""
def remove_newlines(string, replacement='', backticks=True):
    result = string.replace('\n', replacement)
    if backticks:
        result = f"`{result}`"
    return result

remove_newlines(text, backticks=False)

'SELECT date,amount,lag(amount) OVER (ORDER BY date),amount - lag(amount) OVER (ORDER BY date) AS changeFROM sales;'

In [12]:
text = """
- AI ethics. 
   - One option is to send email or text message for contact to opt in that messages may be from a bot. People are still weary of AI.
   - What is their current opt-in contract?
- Roadmap
   - Discuss
   - Share
- How to remove users from chatbot workflow.
- Is there a need to create an appointment reminder outside of current system?
- Average hourly rate for salaried software developer in Vancouver is $45/hour. On low end, $35/hour. https://www.glassdoor.ca/Salaries/software-developer-salary-SRCH_IM972_KO0,18.htm
- I estimate 10-15 hours/week
- Implementation costs: Bill based on usage or increase my hourly rate.
   - AWS
   - Open AI
"""
def double_newlines(text):
    result = text.replace('\n', '\n\n')
    return result
print(double_newlines(text))

- AI ethics.

   - One option is to send email or text message for contact to opt in that messages may be from a bot. People are still weary of AI.

   - What is their current opt-in contract?

- Roadmap

   - Discuss

   - Share

- How to remove users from chatbot workflow.

- Is there a need to create an appointment reminder outside of current system?

- Average hourly rate for salaried software developer in Vancouver is $45/hour. On low end, $35/hour. https://www.glassdoor.ca/Salaries/software-developer-salary-SRCH_IM972_KO0,18.htm

- I estimate 10-15 hours/week

- Implementation costs: Bill based on usage or increase my hourly rate.

   - AWS

   - Open AI

# *End of Page*