# Title
[]()

# `replace_whitespace_with_commas`

In [11]:
import re

def replace_whitespace_with_commas(string):
    result = re.sub(r"\s+", ", ", string.strip())
    return result

def string_to_list(string, convert_to_int=True):
    result = replace_whitespace_with_commas(string).split(', ')
    if convert_to_int:
        result = [int(i) for i in result]
    print(f'Length of list: {len(result)}')
    return sorted(result)

string = """
gpt-4
gpt-3.5-turbo-16k
gpt-3.5-turbo-instruct
gpt-3.5-turbo-instruct-0914
gpt-4-vision-preview
gpt-4-0314
gpt-4-0613
gpt-3.5-turbo-16k-0613
gpt-3.5-turbo-1106
gpt-3.5-turbo-0613
gpt-4-1106-preview
gpt-3.5-turbo-0301
gpt-3.5-turbo
"""
print(replace_whitespace_with_commas(string))

gpt-4, gpt-3.5-turbo-16k, gpt-3.5-turbo-instruct, gpt-3.5-turbo-instruct-0914, gpt-4-vision-preview, gpt-4-0314, gpt-4-0613, gpt-3.5-turbo-16k-0613, gpt-3.5-turbo-1106, gpt-3.5-turbo-0613, gpt-4-1106-preview, gpt-3.5-turbo-0301, gpt-3.5-turbo

In [12]:
string_to_list(string, convert_to_int=0)

Length of list: 13

['gpt-3.5-turbo',
 'gpt-3.5-turbo-0301',
 'gpt-3.5-turbo-0613',
 'gpt-3.5-turbo-1106',
 'gpt-3.5-turbo-16k',
 'gpt-3.5-turbo-16k-0613',
 'gpt-3.5-turbo-instruct',
 'gpt-3.5-turbo-instruct-0914',
 'gpt-4',
 'gpt-4-0314',
 'gpt-4-0613',
 'gpt-4-1106-preview',
 'gpt-4-vision-preview']

# `text_to_markdown_table`

In [7]:
table_string = """
measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00
"""
print(table_string)

measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00

In [8]:
def text_to_markdown_table(table_string):
    lines = table_string.strip().split("\n")
    header = lines[0].split("\t")
    rows = [line.split("\t") for line in lines[1:]]
    return "\n".join([
        "| " + " | ".join(header) + " |",
        "| " + " | ".join(["---"] * len(header)) + " |",
        "\n".join([
            "| " + " | ".join(row) + " |"
            for row in rows
        ])
    ])

print(text_to_markdown_table(table_string))

| measure | profits | profits_change | revenues_change |
| --- | --- | --- | --- |
| profits | 1.00 | 0.02 | 0.02 |
| profits_change | 0.02 | 1.00 | -0.09 |
| revenues_change | 0.02 | -0.09 | 1.00 |

In [9]:
help(text_to_markdown_table)

Help on function text_to_markdown_table in module __main__:

text_to_markdown_table(table_string)

# `replace_tab_with_comma` and `string_to_sql_string`

In [1]:
import re
def replace_tab_with_comma(string):
    """
    Replace tabs with commas in a string.
    """
    result = re.sub(r"\t+", ", ", string.strip())
    return result



def string_to_sql_string(string, table_name=None, quotes=False):
    """
    Convert a string of items separated by tab to a SQL string with items separated by commas.

    Parameters
    ----------
    string : str
        The string to convert.
    table_name : str, optional
        The name of the table. Default is None.
    quotes : bool, optional
        Whether to add quotes around the items. Default is True.

    Returns
    -------
    str : SQL string with items separated by commas.
    """
    result = replace_tab_with_comma(string).split(', ')
    print(f'Number of items: {len(result)}')
    if quotes:
        result = [f'\"{item}\"' for item in result]
    if table_name:
        result = [f'{table_name}.{item}' for item in result]
    result = ', '.join(result)
    return result

string = """
Repetitions per Set	Time (sec)	Held for time (y)	Pause btwn reps
"""
print(string_to_sql_string(string, table_name='ex', quotes=1))

Number of items: 4
ex."Repetitions per Set", ex."Time (sec)", ex."Held for time (y)", ex."Pause btwn reps"

# Timestamp

In [1]:

from datetime import datetime, timezone
datetime.now(timezone.utc).strftime('%Y-%m-%d %H:%M:%S')

'2023-10-28 19:00:27'

# Remove new line character (DataCamp slides)

In [3]:
text = """
SELECT date,
amount,
lag(amount) OVER (ORDER BY date),
amount - lag(amount) OVER (ORDER BY date) AS change
FROM sales;
"""
def remove_newlines(string, replacement='', backticks=True):
    result = string.replace('\n', replacement)
    if backticks:
        result = f"`{result}`"
    return result

remove_newlines(text, backticks=False)

'SELECT date,amount,lag(amount) OVER (ORDER BY date),amount - lag(amount) OVER (ORDER BY date) AS changeFROM sales;'

# *End of Page*