# Title
[]()

# `replace_whitespace_with_commas`

In [12]:
import re

def replace_whitespace_with_commas(string):
    result = re.sub(r"\s+", ", ", string.strip())
    return result

def string_to_list(string, convert_to_int=True):
    result = replace_whitespace_with_commas(string).split(', ')
    if convert_to_int:
        result = [int(i) for i in result]
    print(f'Length of list: {len(result)}')
    return result

string = """
10
31
121
129
134
135
163
186
206
207
259
271
273
307
313
324
345
363
386
403
439
445
446
447
451
457
460
486
487
499
500
529
625
627
632
670
729
775
825
826
847
848
849
902
917
918
973
1001
1014
1015
1028
1030
1056
1132
1180
1181
1194
1196
1198
1204
1208
1209
1211
1212
1213
1281
1303
1305
1346
1361
1364
1389
1399
1400
1410
1411
1414
1522
1563
"""

replace_whitespace_with_commas(string)

'10, 31, 121, 129, 134, 135, 163, 186, 206, 207, 259, 271, 273, 307, 313, 324, 345, 363, 386, 403, 439, 445, 446, 447, 451, 457, 460, 486, 487, 499, 500, 529, 625, 627, 632, 670, 729, 775, 825, 826, 847, 848, 849, 902, 917, 918, 973, 1001, 1014, 1015, 1028, 1030, 1056, 1132, 1180, 1181, 1194, 1196, 1198, 1204, 1208, 1209, 1211, 1212, 1213, 1281, 1303, 1305, 1346, 1361, 1364, 1389, 1399, 1400, 1410, 1411, 1414, 1522, 1563'

In [13]:
string_to_list(string)

Length of list: 79

[10,
 31,
 121,
 129,
 134,
 135,
 163,
 186,
 206,
 207,
 259,
 271,
 273,
 307,
 313,
 324,
 345,
 363,
 386,
 403,
 439,
 445,
 446,
 447,
 451,
 457,
 460,
 486,
 487,
 499,
 500,
 529,
 625,
 627,
 632,
 670,
 729,
 775,
 825,
 826,
 847,
 848,
 849,
 902,
 917,
 918,
 973,
 1001,
 1014,
 1015,
 1028,
 1030,
 1056,
 1132,
 1180,
 1181,
 1194,
 1196,
 1198,
 1204,
 1208,
 1209,
 1211,
 1212,
 1213,
 1281,
 1303,
 1305,
 1346,
 1361,
 1364,
 1389,
 1399,
 1400,
 1410,
 1411,
 1414,
 1522,
 1563]

# `text_to_markdown_table`

In [7]:
table_string = """
measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00
"""
print(table_string)

measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00

In [8]:
def text_to_markdown_table(table_string):
    lines = table_string.strip().split("\n")
    header = lines[0].split("\t")
    rows = [line.split("\t") for line in lines[1:]]
    return "\n".join([
        "| " + " | ".join(header) + " |",
        "| " + " | ".join(["---"] * len(header)) + " |",
        "\n".join([
            "| " + " | ".join(row) + " |"
            for row in rows
        ])
    ])

print(text_to_markdown_table(table_string))

| measure | profits | profits_change | revenues_change |
| --- | --- | --- | --- |
| profits | 1.00 | 0.02 | 0.02 |
| profits_change | 0.02 | 1.00 | -0.09 |
| revenues_change | 0.02 | -0.09 | 1.00 |

In [9]:
help(text_to_markdown_table)

Help on function text_to_markdown_table in module __main__:

text_to_markdown_table(table_string)

# *End of Page*