# Title
[]()

# `replace_whitespace_with_commas`

In [1]:
import re

def replace_whitespace_with_commas(string):
    result = re.sub(r"\s+", ", ", string.strip())
    return result

def string_to_list(string, convert_to_int=True):
    result = replace_whitespace_with_commas(string).split(', ')
    if convert_to_int:
        result = [int(i) for i in result]
    print(f'Length of list: {len(result)}')
    return result

string = """
2
6
7
8
9
10
11
13
14
15
16
17
19
20
21
22
23
24
25
26
27
28
29
32
33
36
37
38
39
40
41
44
45
46
47
48
49
51
54
55
56
57
58
61
62
63
64
67
68
72
74
75
76
77
79
80
81
82
83
84
86
87
88
93
94
95
96
97
98
102
103
104
105
106
108
109
113
115
116
119
120
121
122
123
124
125
127
128
129
130
131
132
133
134
135
136
137
138
139
142
144
145
146
148
149
150
151
152
153
154
155
157
158
159
160
161
162
164
165
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
188
189
192
193
194
195
196
197
198
200
205
206
207
208
209
210
211
212
213
214
215
216
217
220
221
222
223
224
225
226
228
229
230
231
232
233
234
235
238
239
241
242
244
245
247
248
249
250
251
252
254
255
256
257
259
261
262
263
264
267
269
275
276
277
278
279
280
281
282
283
294
296
306
307
308
309
310
311
312
314
315
320
323
324
325
326
327
328
329
330
331
332
334
335
336
337
338
339
341
343
346
347
349
356
359
360
362
364
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
390
392
393
394
395
396
397
398
399
400
401
402
403
404
406
407
409
410
411
412
413
415
421
427
433
439
443
444
448
449
450
452
454
458
459
474
492
495
498
503
508
510
512
514
515
524
532
533
539
540
542
545
547
549
550
584
614
621
629
641
643
649
668
669
671
687
724
734
735
738
747
776
782
795
796
859
860
861
862
863
907
909
915
916
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1027
1031
1032
1033
1034
1036
1037
1042
1045
1055
1065
1073
1078
1079
1083
1096
1104
1110
1125
1126
1136
1141
1146
1184
1185
1193
1195
1202
1205
1210
1215
1216
1217
1218
1230
1240
1255
1257
1264
1274
1279
1300
1301
1302
1330
1331
1347
1348
1355
1356
1365
1388
1394
1397
1408
1412
1415
1416
1430
1457
1521
1523
1526
1549
1554
1555
1564
1565
1566
"""

print(replace_whitespace_with_commas(string))

2, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 32, 33, 36, 37, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 51, 54, 55, 56, 57, 58, 61, 62, 63, 64, 67, 68, 72, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 86, 87, 88, 93, 94, 95, 96, 97, 98, 102, 103, 104, 105, 106, 108, 109, 113, 115, 116, 119, 120, 121, 122, 123, 124, 125, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 142, 144, 145, 146, 148, 149, 150, 151, 152, 153, 154, 155, 157, 158, 159, 160, 161, 162, 164, 165, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 188, 189, 192, 193, 194, 195, 196, 197, 198, 200, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 220, 221, 222, 223, 224, 225, 226, 228, 229, 230, 231, 232, 233, 234, 235, 238, 239, 241, 242, 244, 245, 247, 248, 249, 250, 251, 252, 254, 255, 256, 257, 259, 261, 262, 263, 264, 267, 269, 275, 276, 277, 278, 279, 280, 281, 282, 283, 294, 296, 306, 307, 308, 309, 310, 311, 312, 314, 315, 320, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 334, 335, 336, 337, 338, 339, 341, 343, 346, 347, 349, 356, 359, 360, 362, 364, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 390, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 406, 407, 409, 410, 411, 412, 413, 415, 421, 427, 433, 439, 443, 444, 448, 449, 450, 452, 454, 458, 459, 474, 492, 495, 498, 503, 508, 510, 512, 514, 515, 524, 532, 533, 539, 540, 542, 545, 547, 549, 550, 584, 614, 621, 629, 641, 643, 649, 668, 669, 671, 687, 724, 734, 735, 738, 747, 776, 782, 795, 796, 859, 860, 861, 862, 863, 907, 909, 915, 916, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1027, 1031, 1032, 1033, 1034, 1036, 1037, 1042, 1045, 1055, 1065, 1073, 1078, 1079, 1083, 1096, 1104, 1110, 1125, 1126, 1136, 1141, 1146, 1184, 1185, 1193, 1195, 1202, 1205, 1210, 1215, 1216, 1217, 1218, 1230, 1240, 1255, 1257, 1264, 1274, 1279, 1300, 1301, 1302, 1330, 1331, 1347, 1348, 1355, 1356, 1365, 1388, 1394, 1397, 1408, 1412, 1415, 1416, 1430, 1457, 1521, 1523, 1526, 1549, 1554, 1555, 1564, 1565, 1566

In [13]:
string_to_list(string)

Length of list: 79

[10,
 31,
 121,
 129,
 134,
 135,
 163,
 186,
 206,
 207,
 259,
 271,
 273,
 307,
 313,
 324,
 345,
 363,
 386,
 403,
 439,
 445,
 446,
 447,
 451,
 457,
 460,
 486,
 487,
 499,
 500,
 529,
 625,
 627,
 632,
 670,
 729,
 775,
 825,
 826,
 847,
 848,
 849,
 902,
 917,
 918,
 973,
 1001,
 1014,
 1015,
 1028,
 1030,
 1056,
 1132,
 1180,
 1181,
 1194,
 1196,
 1198,
 1204,
 1208,
 1209,
 1211,
 1212,
 1213,
 1281,
 1303,
 1305,
 1346,
 1361,
 1364,
 1389,
 1399,
 1400,
 1410,
 1411,
 1414,
 1522,
 1563]

# `text_to_markdown_table`

In [7]:
table_string = """
measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00
"""
print(table_string)

measure	profits	profits_change	revenues_change
profits	1.00	0.02	0.02
profits_change	0.02	1.00	-0.09
revenues_change	0.02	-0.09	1.00

In [8]:
def text_to_markdown_table(table_string):
    lines = table_string.strip().split("\n")
    header = lines[0].split("\t")
    rows = [line.split("\t") for line in lines[1:]]
    return "\n".join([
        "| " + " | ".join(header) + " |",
        "| " + " | ".join(["---"] * len(header)) + " |",
        "\n".join([
            "| " + " | ".join(row) + " |"
            for row in rows
        ])
    ])

print(text_to_markdown_table(table_string))

| measure | profits | profits_change | revenues_change |
| --- | --- | --- | --- |
| profits | 1.00 | 0.02 | 0.02 |
| profits_change | 0.02 | 1.00 | -0.09 |
| revenues_change | 0.02 | -0.09 | 1.00 |

In [9]:
help(text_to_markdown_table)

Help on function text_to_markdown_table in module __main__:

text_to_markdown_table(table_string)

# `replace_tab_with_comma` and `string_to_sql_string`

In [21]:
import re
def replace_tab_with_comma(string):
    """
    Replace tabs with commas in a string.
    """
    result = re.sub(r"\t+", ", ", string.strip())
    return result



def string_to_sql_string(string, table_name=None, quotes=False):
    """
    Convert a string of items separated by tab to a SQL string with items separated by commas.

    Parameters
    ----------
    string : str
        The string to convert.
    table_name : str, optional
        The name of the table. Default is None.
    quotes : bool, optional
        Whether to add quotes around the items. Default is True.

    Returns
    -------
    str : SQL string with items separated by commas.
    """
    result = replace_tab_with_comma(string).split(', ')
    print(f'Number of items: {len(result)}')
    if quotes:
        result = [f'\"{item}\"' for item in result]
    if table_name:
        result = [f'{table_name}.{item}' for item in result]
    result = ', '.join(result)
    return result

string = """
Warmup Exercise	initial cool down	final cool down	Risk for pregnant	Cardio Friendly	Blood Pressure Risk	Balance Support	Wheelchair	sudden head position change or level change	Overhead Risk	Wrist Risk	Toe Risk	Rehab Only
"""
print(string_to_sql_string(string, table_name='ex', quotes=1))

Number of items: 13
ex."Warmup Exercise", ex."initial cool down", ex."final cool down", ex."Risk for pregnant", ex."Cardio Friendly", ex."Blood Pressure Risk", ex."Balance Support", ex."Wheelchair", ex."sudden head position change or level change", ex."Overhead Risk", ex."Wrist Risk", ex."Toe Risk", ex."Rehab Only"

# Timestamp

In [1]:

from datetime import datetime, timezone
datetime.now(timezone.utc).strftime('%Y-%m-%d %H:%M:%S')

'2023-10-28 19:00:27'

# Remove new line character

In [5]:
text = """
SELECT date
_part('month'
, now()),
EXTRACT(MONTH FROM now());
"""
def remove_newlines(string, replacement='', backticks=True):
    result = string.replace('\n', replacement)
    if backticks:
        result = f"`{result}`"
    return result

remove_newlines(text)

"`SELECT date_part('month', now()),EXTRACT(MONTH FROM now());`"

# *End of Page*